.Tooltip {
  width: 250px;
  padding: 12px 1em;
  background-color: #fcfcd2;
  display: grid;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  grid-template-columns: 11fr 1fr;
  position: absolute;
  top: 52px;
  right: -46px;
  z-index: 4;
}
.Tooltip:before {
  content: '';
  position: absolute;
  top: -19px;
  right: 43px;
  border-top: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 10px #fcfcd2;
  border-left: solid 10px transparent;
}
.Tooltip-wrapper {
  position: relative;
}
.Tooltip-description {
  font-weight: bold;
  line-height: 1.25;
  color: #686868;
  margin-bottom: 0.5em;
}
.Tooltip-description:hover {
  cursor: default;
}
.Tooltip-anchor {
  font-weight: bold;
  color: #0b8ecd;
  text-decoration: underline !important;
  background: transparent !important;
}
.Tooltip-right {
  justify-self: center;
}
.Tooltip-right span {
  color: #ff4842;
}
.Tooltip-right span:hover {
  cursor: pointer;
}
